* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

.middle-section{
  background-color: white;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

#top-section{
  margin: 5vh;
  height: 25vh;
  padding: 2vh, 2vw;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#text-box{
  text-align: justify;
  overflow-x: scroll;
  margin: 2vw;
}

.buttons-row{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.buttons{
  font-size: xx-large;
  color: white;
  text-align: center;
  height: 6vh;
  width: 16vw;
  margin-left: 2vw;
}

#red-button{
  background-color: red;
  order: 0;
}

#blue-button{
  background-color: blue;
  order: 1;
}

#bottom-section{
  background-color: white;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}

.image{
  background-color: black;
  height: 35vh;
  margin: 2vh;
  display: flex;
  font-size: xx-large;
  color: white;
  justify-content: center;
  align-items: center;
}

.bottom-text-box{
  margin: 2vh;
}